apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend

  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ghcr.io/narah111/ocp-guestbook/frontend:2a76d85f139e32bad266af9a77c9f23bcb08ba03
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8080
